.wrap{
    width: 800px;
    border: 10px solid black;
    margin : 100px auto;
}
.left{
    width: 400px;
    height: 400px;
    background-color: aqua;
    float: left;
}
.right{
    width: 400px;
    height: 400px;
    background-color: pink;
    float: left;
}
.wrap .bottom{
    width: 800px;
    height: 100px;
    background-color: cadetblue;
    clear: both;
} 
.wrap::after{
    content: "";
    display: block;
    clear: both;
}